@model Blog.Web.Models.BlogDetailsViewModels

@{
    ViewBag.Title = Model.Title;
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<div>
    <hr />

        <div class="row">
            @Html.Raw(@Model.Post)
        </div>

        <div class="row">
            <img src="@Model.ImageUrl" />
        </div>

        <div class="row">
            <ul>
                @foreach (var item in Model.Tags)
                {
                    <li>
                        @Html.DisplayFor(model => item)
                    </li>
                }
            </ul>

        </div>

        <div class="row">
            By:  @Html.DisplayFor(model => model.Author)
        </div>

        <div class="row">
            Last Updated:  @Html.DisplayFor(model => model.LastUpdate)
        </div>
        <br />
    </div>

<p>@Html.ActionLink("Back", "Index", null, new { @class = "btn btn-primary" })</p>
