@model  IEnumerable<Blog.Web.Models.ListBlogViewModels>

@{ ViewBag.Title = "My Blog Listing"; }

<h2>Recent Blog Posts</h2>


@foreach (var item in Model)
{
<div class="row">
    <div class="col-lg-10">
        <h4>@item.Title</h4>
        <p> @item.Snippet</p>
        <img alt="image" width="100" height="100" src="@item.ImageUrl" />
        <hr />
    </div>
  
    <div class="col-lg-2">
        <a class="btn btn-default" href="@item.ViewUrl">View</a>
        <a class="btn btn-default" href="@item.EditUrl">Edit</a>
    </div>

    <br />
</div>
}

